/**********************************************************************************************************************/
/* MODIFIED CSS */
main {
  padding-top: 30px;
  padding-bottom: 80px;
}

a, a:hover {
  color: unset !important;
  text-decoration: none !important;
}

a:hover {
  opacity: 0.7 !important;
}

*:focus {
  outline: none !important;
}

/**********************************************************************************************************************/
/* CUSTOM CSS */
.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

/**********************************************************************************************************************/
/* RESULT NUMBER CONTAINER */
.list-group-item {
  overflow: hidden;
  cursor: pointer;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.list-group-item .result-stat {
  display: none;
}
.list-group-item:hover .result-stat {
  display: block;
}
.list-group-item:first-child{
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
.list-group-item:last-child{
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  margin-bottom: 1.5rem !important;
}
.list-group-item-text {
   text-align: center;
}

/* RESULT NUMBER */
h4.list-group-item-heading {
  font-size: 16px;
}

.round-result-num {
  display: inline-block;
  width: 47px;
  height: 47px;
  line-height: 30px;
  font-size: 22px;
  background: white;
  color: #fc4a1a;
  border: 3px solid #fc4a1a;
  margin: 3px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}
.round-result-stat {
  text-decoration: none;
  display: inline-block;
  height: 47px;
  line-height: 30px;
  font-size: 18px;
  background: none;
  margin: 3px 0;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.round-result-num-small {
  display: inline-block;
  width: 41px;
  height: 41px;
  line-height: 26px;
  font-size: 20px;
  background: none;
  color: #fc4a1a;
  border: 3px solid #fc4a1a;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.unmatched {
  color: #343a40;
  border: 3px solid #343a40;
  opacity: 0.5;
}

.matched {
  color: #fc4a1a;
  border: 3px solid #fc4a1a;
}

.delta-faded {
  opacity: 0.5;
}
.delta-num {
  color: unset;
  border: none;
  width: 61px;
}
/* RESULT NUMBER */

/**********************************************************************************************************************/
/* OFF-CANVAS SIDE BAR */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #21232a;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 36px !important;
  height: 30px !important;
  right: 36px !important;
  top: 36px !important;
}

.bm-cross-button span {
  top: -1px !important;
  right: 7px !important;
}

.bm-cross-button:hover {
  opacity: 0.6 !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  height: 36px !important;
  width: 6px !important;
}

/* General sidebar styles */
.bm-menu {
  /*background: #373a47;*/
  background: #21232a;
  padding: 4em 1.5em 0 1.5em;
  font-size: 1.1em;
  line-height: 1.8em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  /*fill: #373a47;*/
  fill: #21232a;
}

/* Wrapper for item list */
.bm-item-list {
  color: #bdc3c7;
  padding: 1em;
}

.bm-item-list a {
  color: #bdc3c7 !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.bm-item:hover {
  text-decoration: none;
}
.bm-item.active {
  color: #6c757d;
  background-color: #13181b;
  border-color: #13181b;
}

hr.bm-item {
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.1;
  border-top-color: #bdc3c7;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* FORM CONTROLS */
.form-control:hover {
  border-color: hsl(0,0%,70%);
}
.form-control:hover:focus {
  border-color: #2684FF;
}
.form-control:hover:disabled {
  border-color: #ced4da;
}
.form-control:disabled {
  color: hsl(0,0%,60%);
}

.react-datepicker-wrapper {
  display: block !important;
}
.react-datepicker {
  font-family: 'Nunito-Regular', sans-serif;
}
.react-datepicker__close-icon::after {
  background-color: transparent !important;
  color: #21232a !important;
  font-size: 16px !important;
}
/* FORM CONTROLS */

/* ACTIVE OBJECT */
.btn.active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
/* ACTIVE OBJECT */

/* TOOLTIP */
.__react_component_tooltip {
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.55);
}
/* TOOLTIP */

/* Tool num selector */
.tool-num-selector table {
  width: 100%;
}
.tool-num-selector table td {
  text-align: center;
}
.tool-select-num {
  display: inline-block;
  width: 30px;
  height: 32px;
  line-height: 18px;
  font-size: 18px;
  background: none;
  color: #fc4a1a;
  border-top: 3px solid #fc4a1a;
  border-bottom: 3px solid #fc4a1a;
  margin: 4px 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  transition: all .4s ease-out;
}
.tool-select-num:hover {
  //color: #fd8666;
  //border-top-color: #fd8666;
  //border-bottom-color: #fd8666;
}
.tool-select-num.active {
  background-color: #fc4a1a;
  color: #FFFFFF;
  border-top-color: #fc4a1a;
  border-bottom-color: #fc4a1a;
}
.tool-select-num.active:hover {
  background-color: #f93803;
  border-top-color: #f93803;
  border-bottom-color: #f93803;
}
/* Tool num selector */
/* React Switch */
.react-switch {
  vertical-align: middle;
}
/* React Switch */